[submodule "year-template/lib/quaalude"]
	path = year-template/lib/quaalude
	url = git@github.com:harryaskham/quaalude.git
[submodule "2024/lib/quaalude"]
	path = 2024/lib/quaalude
	url = git@github.com:harryaskham/quaalude.git
